@media screen and (max-width: 1024px) {
    .header {
        .header_inner {
            nav {
                section {
                    .logo {
                        font-size: 26px !important;
                    }
                    .links {
                        li {
                            &::after {
                                bottom: -20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .header {
        .header_inner {
            .nav {
                padding: 8px 0px;
                section {
                    .logo {
                        font-size: 22px !important;
                    }
                    .links {
                        display: none !important;
                    }
                }
                .controls {
                    display: none !important;
                }
            }
        }
    }
}
