.benefits {
    padding: 100px 0px;
    .inner {
        .header {
            margin-bottom: 50px;
            h3 {
                font-weight: 500;
                font-size: 18px;
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
                &::after {
                    content: "";
                    width: 15px;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(-0%, -50%);
                    background-color: #346751;
                }
            }
            h2 {
                font-size: 50px;
                font-weight: 600;
                max-width: 500px;
                line-height: 1.2;
            }
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            .card {
                border-radius: 10px;
                padding: 15px;
                div {
                    display: inline-block;
                    padding: 10px;
                    border-radius: 7px;
                    svg {
                        font-size: 30px;
                    }
                }
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                p {
                }
            }
        }
    }
}
// ! Media
@media screen and (max-width: 1024px) {
    .benefits {
        .inner {
            .header {
                h2 {
                    font-size: 40px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .benefits {
        padding: 50px 0px;
        .inner {
            .header {
                text-align: center;
                h3 {
                    padding: 0;
                    &::after {
                        display: none;
                    }
                }
                h2 {
                    font-size: 30px;
                    margin-inline: auto;
                }
            }
        }
    }
}
